@import url('https://fonts.googleapis.com/css?family=Thasadith');
/*@import url('css/w3.css');*/
body {
 background-image: url("images/background.png");
 background-color: rgb(40,40,40);
}

@keyframes hover {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.banner {
  height: 200px;
  width:800px;
  background-color: #fff;
  margin: auto;
  margin-bottom: auto;
  animation-name: hover;
  animation-duration: 4s;
}
.bannerspacer {
  height: 250px;
}

.bannertext {
  color: rgb(0,0,0);
  font-family: 'Thasadith';
  margin: auto;
}
