@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url('css/w3.css');

.set_background {
 background-color: black;
  background-size: 90%;
  background-image: "images/background.png";
}
