@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Oswald);

p {
  font-family: 'Oswald';
  font-size: 45px;
  color: #fff;
}

p.title {
  font-family: 'Dancing Script';
  color: #fff;
  font-size: 100px;
  height: 125px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-radius: 10px;
  margin-left: 750px;
  margin-right: 750px;
  margin-top: 10px;
  margin-bottom: 50px;
}

hr.title {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  color: #fff;
}
